:root {
    --light-gray: rgba(243, 243, 243, .05);
    --medium-gray: rgba(243, 243, 243, .5);
    --white: rgba(255, 255, 255, .2);
    --light-pink: rgba(255, 9, 79, 0.2);
    --dark-pink: rgba(153, 12, 76, 0.85);
    --shadow-color: rgba(51, 51, 51, 0.5);
    --sphere-size: 100px;
    --small-radius: 40px;
    --large-radius: 100px;
    --shadow-offset: 100px;
    --animation-duration: 2s;
  }
  
  .sphere {
    position: relative;
    perspective: 980px;
    width: var(--sphere-size);
    height: var(--sphere-size);
    background:
      radial-gradient(var(--small-radius) at 30% 30%, var(--light-gray) 0%, var(--light-gray) 99%, transparent 100%),
      radial-gradient(var(--small-radius) at 25% 20%, var(--medium-gray) 0, var(--white) 8%, transparent 40%, transparent 100%),
      radial-gradient(var(--large-radius) at 25% 20%, var(--light-pink) 0%, transparent 100%),
      radial-gradient(var(--large-radius) at 80% 90%, var(--dark-pink) 0%, transparent 100%);
    border-radius: 50%;
    animation: hover var(--animation-duration) ease-in-out infinite;
  }
  
  .sphere:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translateX(-50%) rotateX(70deg);
    z-index: -1;
    box-shadow: 0 var(--shadow-offset) 20px var(--shadow-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: hover-shadow var(--animation-duration) ease-in-out infinite;
  }
  
  @keyframes hover {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes hover-shadow {
    0%, 100% {
      box-shadow: 0 var(--shadow-offset) 20px var(--shadow-color);
    }
    50% {
      box-shadow: 0 calc(var(--shadow-offset) + 20px) 40px var(--shadow-color);
    }
  }
  